<html>
<head>
<title>{{ title }}</title>
<!-- Better HTML markup is welcome, 
	so far using <table height="100%"> with no DTD -->
<style type="text/css">
#screen { border:0px; height:88%; width: 100%; background: {{bg}}; }
#screen td { vertical-align: middle; text-align: center; }
#links { text-align: center; font-size: 70%;
	margin-top: 2ex; margin-left: auto; margin-right: auto;
	width: 10em; background: #cbbaec; padding: 5px; }
#links a { text-decoration: none; color: #492d7f; }
body { font-family: sans-serif; font-size: 120%;
	background: white; color: #333; }
form.upload { margin: 50px; }
.error { color: red; font-weight: bolder; }
</style>
<script language="JavaScript">
function highlight(field) {
	field.focus();
	field.select();
}</script>
</head><body><table id="screen"><tr><td>

{% if form %}
<h1>Upload your track</h1>

<form class="upload" action="/" method="POST" enctype="multipart/form-data">
<p>
<label for="gpxfile">GPX file (max 1&nbsp;MB):</label>
<input id="gpxfile" type="file" name="gpxfile"></p>
<p>
<label for="imperial">Imperial units: </label>
<input id="imperial" type="checkbox" name="imperial"></p>
<p>
<input type="submit" value="Submit"></p>
</form>
{% endif %}

{% if error %}
<p class="error">{{error}}</p>

{% if bugreportme %}
<p>If you see this message, something is wrong with this page. Please report this issue <a href="http://code.google.com/p/gpxplot/issues/list">here</a>.</p>

<p>Attaching a GPX file to reproduce the problem is very helpful. Send it by e-mail <span id="emb79c87">s punto as tan in plus gpx plot at gmail punto com</span><script type='text/javascript'><!--
 var e = document.getElementById('emb79c87');
 if (e) {
 e.style.display = 'none';
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var code =  '&#115;'  +  '&#46;'  +  '&#97;'  +  '&#115;'  +  '&#116;'  +  '&#97;'  +  '&#110;'  +  '&#105;'  +  '&#110;'  +  '&#43;'  +  '&#103;'  +  '&#112;'  +  '&#120;'  +  '&#112;'  +  '&#108;'  +  '&#111;'  +  '&#116;'  +  '&#64;'  +  '&#103;'  +  '&#109;'  +  '&#97;'  +  '&#105;'  +  '&#108;'  +  '&#46;'  +  '&#99;'  +  '&#111;'  +  '&#109;' ;
 document.write('<a ' + path + '\"' + prefix + ':' + code + '\">' + 'directly to me' + '<\/a>');
 }
//--></script>, if it is confidential. Thank you!</p>
{% endif %}

{% endif %}

{% if imgsrc %}
<p><img src="{{imgsrc}}" alt="GPS elavation–distance profile"></p>
<p><form>
<label for="htmlsnippet">Embed into blog:</label>
<input id="htmlsnippet" type="text" 
value="<img src=&quot;{{imgsrc}}&quot; alt=&quot;GPS elavation–distance profile: http://gpxplot.appspot.com/&quot;>"
size=30 onClick="highlight(this);">
</form></p>
{% endif %}

</td></tr></table>
<div id="links">
<a href="http://gpxplot.appspot.com/" title="Visualize your GPS track online" style="font-size: 160%; ">gpxplot</a><br>
<a href="http://code.google.com/p/gpxplot/" title="gpxplot: visualize elevation and velocity profiles of GPS tracks">+&nbsp;source&nbsp;code</a> ;-)
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2240197-6");
pageTracker._trackPageview();
</script>
</body>
</html>

